     <div class="container">
 
 
<h1>Jobs</h1>
<% @jobs.each do |job| %>
  <div class="job">
    <h2><%= link_to job.title %></h2>
    <p><%= job.description %></p>
    <h6> <%= link_to job.category.name, job.category %></h6>

  </div>
<% end %>

<p></p>
<p><%= link_to "Add a job", new_job_path %></p>


</div>